---
  - name: configure provider
    set_fact:
      provider:
        username: "{{ vault_user }}"
        password: "{{ vault_password }}"
        auth_pass: "{{ vault_enable }}"
        host: "{{ ansible_host }}"
        authorize: yes

  - name: Setup dhcp snooping
    ios_config:
        provider: "{{ provider }}"
        lines:
          - ip dhcp snooping vlan 500-2000
          - ip dhcp snooping



  - name: Setup local ports
    ios_config:
        provider: "{{ provider }}"
        lines:
          - switchport mode access
          - spanning-tree portfast
          - spanning-tree bpduguard enable
          - ip verify source
          - storm-control broadcast level pps 10k
          - storm-control action shutdown
          - switchport acces vlan {{ access_vlan.number }}
        parents:  interface {{ item }}
    with_items: "{{ access_range }}"

  - name: Setup trunk ports
    ios_config:
        provider: "{{ provider }}"
        lines:
          - no spanning-tree portfast
          - no spanning-tree bpduguard enable
          - switchport mode trunk
          - ip dhcp snooping trust
          - switchport trunk encapsulation dot1q
          - switchport trunk allowed {{ global_vlans }}
        parents:  interface {{ item }}
    with_items: "{{ trunk_range }}"


  - name: Setup wan vlan
    ios_config:
        provider: "{{ provider }}"
        lines:
          - name WAN
        parents:  vlan {{ wan_vlan.number }}
    when: access_vlan.border_switch is defined and access_vlan.border_switch

  - name: disable stp for wan vlan
    ios_config:
        provider: "{{ provider }}"
        lines:
          - no spanning-tree vlan {{ wan_vlan.number }}
    when: access_vlan.border_switch is defined and access_vlan.border_switch
   
  - name: Setup port channel - border
    ios_config:
        provider: "{{ provider }}"
        lines:
          - no spanning-tree portfast
          - no spanning-tree bpduguard enable
          - switchport trunk encapsulation dot1q
          - switchport mode trunk
          - switchport trunk allowed vlan {{ wan_vlan.number }}
        parents:  "interface port-channel 1"
    when: access_vlan.border_switch is defined and access_vlan.border_switch

  - name: Setup misc po ports - border
    ios_config:
        provider: "{{ provider }}"
        lines:
          - no spanning-tree portfast
          - no spanning-tree bpduguard enable
          - switchport trunk encapsulation dot1q
          - switchport mode trunk
          - channel-group 1 mode active
          - switchport trunk allowed vlan {{ wan_vlan.number }}
        parents:  interface {{ item }}
    with_items: "{{ misc_po_range }}"
    when: access_vlan.border_switch is defined and access_vlan.border_switch

  - name: Setup misc po ports - trunk
    ios_config:
        provider: "{{ provider }}"
        lines:
          - no spanning-tree portfast
          - no spanning-tree bpduguard enable
          - switchport mode trunk
          - ip dhcp snooping trust
          - switchport trunk encapsulation dot1q
          - switchport trunk allowed {{ global_vlans }}
        parents:  interface {{ item }}
    with_items: "{{ misc_po_range }}"
    when: access_vlan.border_switch is not defined or not access_vlan.border_switch


      
  - name: Setup misc ports - border
    ios_config:
        provider: "{{ provider }}"
        lines:
          - no spanning-tree portfast
          - no spanning-tree bpduguard enable
          - no switchport trunk encapsulation 
          - switchport mode access
          - switchport acces vlan {{ wan_vlan.number }}
        parents:  interface {{ item }}
    with_items: "{{ misc_range }}"
    when: access_vlan.border_switch is defined and access_vlan.border_switch

  - name: Setup misc ports - trunk
    ios_config:
        provider: "{{ provider }}"
        lines:
          - no spanning-tree portfast
          - no spanning-tree bpduguard enable
          - switchport mode trunk
          - ip dhcp snooping trust
          - switchport trunk encapsulation dot1q
          - switchport trunk allowed {{ global_vlans }}
        parents:  interface {{ item }}
    with_items: "{{ misc_range }}"
    when: access_vlan.border_switch is not defined or not access_vlan.border_switch

  - name: Setup core VLAN Interface
    ios_config:
      provider: "{{ provider }}"
      lines:
        - description interconnect vlan
        - ip address {{ access_vlan.core_ip }} 255.255.255.0
      parents: interface vlan {{ vlans['core'].number }}
  
  - name: Setup access VLAN Interface
    ios_config:
      provider: "{{ provider }}"
      lines:
        - description {{ access_vlan.description }} vlan
        - ip address {{ access_vlan.ip }} 255.255.255.0
        - ip helper-address {{ dhcp0 }}
        - ip helper-address {{ dhcp1 }}
      parents: interface vlan {{ access_vlan.number }}

  - name: Setup WAN VLAN Interface
    ios_config:
      provider: "{{ provider }}"
      lines:
        - description wan vlan
        - ip address {{ access_vlan.wan_ip }} 255.255.255.0
      parents: interface vlan {{ wan_vlan.number }}
    when: access_vlan.border_switch is defined and access_vlan.border_switch


  - name: Enable ip routing
    ios_config:
      provider: "{{ provider }}"
      lines:
        - ip routing

  - name: Setup ospf core
    ios_config:
      provider: "{{ provider }}"
      lines:
        - log-adjacency-changes
        - network {{ vlans['core'].subnet }} area 0.0.0.0
      parents: router ospf 1

  - name: Setup ospf access 
    ios_config:
      provider: "{{ provider }}"
      lines:
        - network {{ access_vlan.subnet }} area 0.0.0.0
      parents: router ospf 1

  - name: Setup ospf wan 
    ios_config:
      provider: "{{ provider }}"
      lines:
        - network {{ wan_vlan.subnet }} area 0.0.0.0
      parents: router ospf 1
    when: access_vlan.border_switch is defined and access_vlan.border_switch






